header
  background: url('../img/background/white-bg.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  max-height: 768px
  min-height: 768px
  height: 100%
  .navbar-brand
    width: 60px
    height: auto
